*{
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;

}
body{
    display: flex;
    flex-direction: column;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#form{
box-shadow: 1px 1px 1px 1px #000000;
  width: 600px;
  height: auto;
  display: flex;

  margin-top: 130px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

}
h1{
    text-align: center;
    margin-top: 30px;
}
.guardar{
    width: 600px;
    box-shadow: 1px 1px 1px 1px #000000;
    text-align: center;
    margin-top: 20px;
}
p{
    display: inline-block;
    width: 40%;
}
div>p{
    display: inline-block;


}
.dat{
    width: 500px;

    margin-left: 140px;
    
}
.peso{
    margin-left: 45px;
}
.dato{
    margin-left: 35px;
}
.button{
    margin-top: 20px;
    margin-bottom: 20px;
}
select{
    margin-top: -20px;
    margin-left: 230px;
}